.title_recharge {
    display: flex;
    justify-content: center;

} 

.title_recharge h4 {
    color: white;
}


.method_label {
    display: flex;
    align-items: center;
}

.method_dot {
    border-radius: 50%;
    
 height: 40px;
 width: 40px;
     position: relative;

    border: 1px solid white;
}

.dot {
    height: 30px;
 width: 30px;
 
top: 4px;
left: -1px;
position: absolute;
    background: white;
    border-radius: 50%;
}

.method_label h5 {
    margin-left: 10px;
    color: white;
}

.indication {
    display: flex;
    justify-content: center;
}

.indication span {
    color: white;
    font-size: 12px;
}

.recharge_input {
    background: white;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.recharge_input input {
    width: 100%;
    border: none;
    outline: none;
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.recharge_input input::placeholder {
    text-align: center;
  font-size: 14px;
}

.recharge_button  {
 background: #013f8f ;  
 width: 100%;
 color: white;
 height: 40px; 
 border: none;
 outline: none;
 border-radius: 10px;
 font-size: 16px;
}

